@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Application MVC .NET </h1>
    <p>Here you will find the different ways to apply work methods and workflows in .NET</p>
    <h2>@*List of forms with different funcionalities*@</h2>
    <a asp-controller="User" asp-action="Register">Create Account </a> /
    <a asp-controller="User" asp-action="Login">Login User</a> /
    <a asp-controller="User" asp-action="PassAsGuest">Pass as a Guest</a>
</div>
